<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <customErrors mode="On" defaultRedirect="~/Controllers/Error">
    <error redirect="~/Error/NotFound" statusCode="404" />
    <error redirect="~/Error/InternalServer" statusCode="500" />
  </customErrors>
  <system.web>
    <pages enableSessionState="true" />
    <sessionState mode="InProc"></sessionState>
  </system.web>
</configuration>
